<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.bluedot.airshipdemo"
    >

  <application
      android:allowBackup="true"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:fullBackupContent="@xml/backup_rules"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:name=".MainApplication"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.AppCompat"
      tools:targetApi="31"
      >
    <activity
        android:name=".MainActivity"
        android:exported="true"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".RequestPermissionActivity"/>

    <receiver
        android:name=".AppGeoTriggerReceiver"
        android:enabled="true"
        android:exported="false"
        >
      <intent-filter>
        <action android:name="io.bluedot.point.GEOTRIGGER" />
      </intent-filter>
    </receiver>

    <meta-data android:name="com.urbanairship.autopilot"
        android:value="io.bluedot.airshipdemo.AirshipAutopilot" />

  </application>

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
  <uses-feature
      android:name="android.hardware.location.gps"
      android:required="true" />
  <uses-feature
      android:name="android.hardware.location.network"
      android:required="true" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>